<p id="notice"><%= notice %></p>

<p>
  <strong>Tour:</strong>
  <%= @message.tour %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @message.offer %>
</p>

<p>
  <strong>User:</strong>
  <%= @message.user %>
</p>

<p>
  <strong>Message:</strong>
  <%= @message.message %>
</p>

<p>
  <strong>Time:</strong>
  <%= @message.time %>
</p>

<p>
  <strong>Read:</strong>
  <%= @message.read %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
