<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field profile-field">
    <%#= form.label :brand %>
    <%= form.text_field :brand, id: :profile_brand, placeholder: "Brand name" %>
  </div>

  <div class="field profile-field">
    <%= form.label "Add profile image" %>
    <%= form.file_field :image, id: :profile_image_data %>
  </div>

  <div class="field profile-field">
    <%#= form.label :location %>
    <%= form.text_field :location, id: :profile_location , placeholder: "Primary city" %>
  </div>

  <div class="field profile-field">
    <%#= form.label :phone_number %>
    <%= form.text_field :phone_number, id: :profile_phone_number, placeholder: "enter phone number"  %>
  </div>

  <div class="field profile-field">
    <%#= form.label :bio %>
    <%= form.text_area :bio, id: :profile_bio, placeholder: "Tell us about your brand"  %>
  </div>

  <div class="field profile-field">
    <%= form.label "Select Genres", id: "select-genres" %>
    <%= form.collection_select(:genres, Genre.order(:name),:id,:name,{}, {multiple: true, include_blank: false}) %>
  </div>

  <div class="field profile-field genres-input">
    <input placeholder="Add genres(max 8)" type=text list=genres name="profile[testing]" multiple>
      <datalist id=genres >
        <%#Genre.all.each do |g|%>
         <option value="<%#=g.name%>" >
        <%#end%>
      </option>
      </datalist>
      <button type="button" name="button">Add</button>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
