<p id="notice"><%= notice %></p>

<h1>Profiles</h1>

    <% @profiles.each do |profile| %>

    <div class="profile">
      <div class="part edit"><%= link_to 'Edit', edit_profile_path(profile) %></div>
      <div class="part pro-logo"><img class="profile-img" src="<%= profile.image_url %>" alt=""></div>
      <div class="part brand"><%=profile.brand%></div>
      <div class="part stars"><h1> <%= rating_for profile.user, 'rating' %> </h1></div>
      <div class="part genre">
        <% profile.genres.each_with_index{|i, index|%>
          <%if index == profile.genres.size - 1%>
            <%=i.name%>
          <%else%>
            <%=i.name%>,
          <%end%>
          <%}%>
      </div>
      <div class="part location">Looking for gigs in <strong><%= profile.location%></strong> </div>
      <div class="part links"><a href="www.gmail.com"><%=profile.user.email%></a></div>
      <div class=" left part bio"> <p class="left white"> </p> <%=profile.bio%></div>
      <div class=" left part gigs"> <p class="left white">
        <h6>Previous Gigs</h6>
 </p> <a href="#">Timmy trumpet</a> <br>
      <a href="#">Dj Slime</a> </div>

    </div>


        <%= link_to 'Show', profile %>
        <%= link_to 'Edit', edit_profile_path(profile) %>
        <%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %>

    <% end %>

<br>

<%= link_to 'New Profile', new_profile_path %>
