<p id="notice"><%= notice %></p>

<div class="profile">
  <div class="part edit"><%= link_to 'Edit', edit_profile_path(@profile) %></div>
  <div class="part pro-logo"><img class="profile-img" src="<%= @profile.image_url %>" alt=""></div>
  <div class="part msg">contact</div>
  <div class="part stars">⭐️⭐️⭐️⭐️⭐️</div>
  <div class="part genre">
    <% @profile.genres.each_with_index{|i, index|%>
      <%if index == @profile.genres.size - 1%>
        <%=i.name%>
      <%else%>
        <%=i.name%>,
      <%end%>
      <%}%>
  </div>
  <div class="part location">Looking for gigs in <strong><%= @profile.location%></strong> </div>
  <div class="part links"><a href="suddenmovesevents.com.au">suddenmovesevents.com.au</a></div>
  <div class=" left part bio"> <p class="left white"> bio </p> <%=@profile.bio%></div>
  <div class=" left part gigs"> <p class="left white">
Previous Gigs </p> <a href="#">Timmy trumpet</a> <br>
  <a href="#">Dj Slime</a> </div>

</div>



<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
