<p id="notice"><%= notice %></p>

<p>
  <strong>Tour:</strong>
  <%= @booking.tour %>
</p>

<p>
  <strong>Date:</strong>
  <%= @booking.date %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
