<div class="rics-little-div">
<%= form_with(model: offer, local: true) do |form| %>
  <% if offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h2>
      <ul>
      <% offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= form.hidden_field :tour_id, :value => tour_id %>


  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, start_year:  @tour.start_date.year,end_year:  @tour.start_date.year, id: :offer_date %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :offer_price %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :offer_location %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
