<p id="notice"><%= notice %></p>

<h1>Tours</h1>

<table>
  <thead>
    <tr>
      <th>email</th>
      <th>User</th>
      <th>Title</th>
      <th>Description</th>
      <th>Country</th>
      <th>Image data</th>
      <th>Bio</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Min cost</th>
      <th>Max cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tours.each do |tour| %>
      <tr>
        <td><%= tour.user.email %></td>
        <td><%= tour.user.profile.brand %></td>
        <td><%= tour.title %></td>
        <td><%= tour.description %></td>
        <td><%= tour.country %></td>
        <td> <img src="<%= tour.image_url %>" alt="" height="10"> </td>
        <td><%= tour.bio %></td>
        <td><%= tour.start_date %></td>
        <td><%= tour.end_date %></td>
        <td><%= tour.min_cost %></td>
        <td><%= tour.max_cost %></td>
        <td><%= link_to 'Show', tour %></td>
        <td><%= link_to 'Edit', edit_tour_path(tour) %></td>
        <td><%= link_to 'Destroy', tour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tour', new_tour_path %>
