<p id="notice"><%= notice %></p>

<h1>Tours</h1>



  <tbody>
    <% @tours.each do |tour| %>
    <%=link_to tour_path(tour.id), class: "tour-link" do%>
      <div class="tour">
        <div class="title tour-info"><%= tour.title %></div>
        <div class="agent-logo tour-info">
        <%= image_tag tour.image_url, class: "a-logo"%>
        </div>
        <div class="headline tour-info"><%= tour.description %></div>
        <div class="contact tour-info">contact</div>
        <div class="dates tour-info"><%= tour.start_date.strftime("%x") %> to <%= tour.end_date.strftime("%x") %> </div>
        <div class="price tour-info">$<%= tour.min_cost %> to
            $<%= tour.max_cost %></div>
        <div class="space tour-info">
          <!-- ===================week======================== -->
                <div class="week">
                  <div class="week-title">
                    <%if tour.start_date.strftime("%B")==tour.end_date.strftime("%B")%>
                      <%= tour.start_date.strftime("%B") %> <%= tour.start_date.strftime("%Y") %>
                    <%else%>
                      <%= tour.start_date.strftime("%b") %>  to   <%= tour.end_date.strftime("%b") %> <%= tour.end_date.strftime("%Y") %>
                    <%end%>
                  </div>

                  <div class="heading sTot">Sun to Thu</div>
                  <div class="heading">Fri</div>
                  <div class="heading">Sat</div>

                  <%cal =  @cal.new(tour.start_date, tour.end_date)%>
                  <%cal.createCalendar%>
                  <%cal.bookDays(
                  DateTime.new(2018, 2, 21),DateTime.new(2018, 3, 9),DateTime.new(2018, 3, 10))%>

                  <%#cal.displayCalendar.html_safe%>

                  <%=cal.displayWeek.html_safe%>
                  </div>

          <!-- ===================week======================== -->
        </div>
      </div>
    <%end%>

    <div class="development">
      <%= link_to 'Show', tour %></td>
      <td><%= link_to 'Edit', edit_tour_path(tour) %></td>
      <td><%= link_to 'Destroy', tour, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>









    <% end %>

<br>
<%= link_to 'New Tour', new_tour_path %>
