<p id="notice"><%= notice %></p>

<h1>Tours</h1>

<%= form_tag(tours_path, :method => "get", id: "search_genre") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<%puts "#{@tours.inspect}".green%>
<%if @tours.count < 1%>
  <%#@tours = @tours.sort_by{|tour|tour.start_date}%>
<%end%>
    <% @tours.each do |tour| %>
    <%=link_to tour_path(tour.id), class: "tour-link" do%>
      <div class="tour">
        <div class="item title tour-info">
          <p> <%= tour.title %></p>
        </div>
        <div class="item agent-logo tour-info">
        <%if tour.image_url%>
          <%= image_tag tour.image_url, class: "a-logo right-fade"%>
        <%end%>
        </div>
        <div class="item headline tour-info"><%= tour.description %></div>

        <div class="item contact tour-info right-fade"><%=tour.user.profile.brand%></div>
        <div class="item dates tour-info"><%= tour.start_date.strftime("%-d/%-m/%y") %> to <%= tour.end_date.strftime("%-d/%-m/%y") %> </div>
        <div class="item price tour-info">$<%= tour.min_cost %> to
            $<%= tour.max_cost %></div>
        <div class="item space tour-info right-fade">
          <!-- ===================week======================== -->
                <div class="week ">
                  <div class="week-title">
                    <%if tour.start_date.strftime("%B")==tour.end_date.strftime("%B")%>
                      <%= tour.start_date.strftime("%B") %> <%= tour.start_date.strftime("%Y") %>
                    <%else%>
                      <%= tour.start_date.strftime("%b") %>  to   <%= tour.end_date.strftime("%b") %> <%= tour.end_date.strftime("%Y") %>
                    <%end%>
                  </div>

                  <div class="heading sTot">Sun to Thu</div>
                  <div class="heading">Fri</div>
                  <div class="heading">Sat</div>

                  <%cal =  @cal.new(tour.start_date, tour.end_date)%>
                  <%cal.createCalendar%>
                  <%@list = []%>

                    <%temp = Booking.where(tour_id: tour.id)%>

                    <%temp.each{|i|%>
                      <%@list << i.date%>
                      <%}%>
                  <%cal.bookDays(@list)%>
                  <%#cal.bookDays(
                  DateTime.new(2018, 1, 11),DateTime.new(2018, 1, 12),DateTime.new(2018, 1, 10),DateTime.new(2018, 1, 14),DateTime.new(2018, 1, 13))%>

                  <%#cal.displayCalendar.html_safe%>

                  <%=cal.displayWeek.html_safe%>
                  </div>

          <!-- ===================week======================== -->
        </div>


      </div>
    <%end%>
    <div class="development">
      <%= link_to 'Show', tour %>
      <%= link_to 'Edit', edit_tour_path(tour) %>
      <%= link_to 'Destroy', tour, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>











    <% end %>

<br>
<%= link_to 'New Tour', new_tour_path %>
