<p id="notice"><%= notice %></p>
  <div class="show-tour">
  <p>
    <strong>User:</strong>
    <%#= @tour.user.profile.brand %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @tour.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @tour.description %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= @tour.country %>
  </p>

  <p>
    <strong>Image</strong>
    <img src=" <%= @tour.image_url %>" alt="">
  </p>

  <p>
    <strong>Bio:</strong>
    <%= @tour.bio %>
  </p>

  <!-- ===================calendar======================== -->
        <div class="cal">
          <div class="cal-title">
            <%if @tour.start_date.strftime("%B")==@tour.end_date.strftime("%B")%>
              <%= @tour.start_date.strftime("%B") %> <%= @tour.start_date.strftime("%Y") %>
            <%else%>
              <%= @tour.start_date.strftime("%B") %>  to   <%= @tour.end_date.strftime("%B") %> <%= @tour.end_date.strftime("%Y") %>
            <%end%>
          </div>
          <div class="heading">Sun</div><div class="heading">Mon</div><div class="heading">Tue</div><div class="heading">Wed</div><div class="heading">Thu</div><div class="heading">Fri</div><div class="heading">Sat</div>


          <%cal =  @cal.new(@tour.start_date, @tour.end_date)%>
          <%cal.createCalendar%>
          <% puts "#{cal.cal}".blue%>
          <%cal.bookDays(
          DateTime.new(2018, 3, 21),DateTime.new(2018, 3, 9),DateTime.new(2018, 3, 10))%>
          <% puts "#{cal.cal}".green%>
          <%=cal.displayCalendar.html_safe%>

        </div>
  <!-- ===================calendar======================== -->

  <p>
    <strong>Min cost:</strong>
    $ <%= @tour.min_cost %>
  </p>

  <p>
    <strong>Max cost:</strong>
    $ <%= @tour.max_cost %>

  </p>

  <p>
    <strong>genres:</strong>
    <% @tour.genres.each do |genre| %>
    <%= genre.name%>
    <%end%>
  </p>
</div>
<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
