  <div class="show-tour">
    <div class="show-image">
      <img class="show-img" src=" <%= @tour.image_url %>" alt="">
    </div>

    <div class="the-tour">

      <div class="show-title item">
        <%= @tour.title %>
      </div>
      <div class="show-agent-logo item">
        <%= image_tag @tour.user.profile.image_url, class: "show-agent-logo-img item"%>
      </div>
      <div class="agent-brand item">
      <h6>  <%= @tour.user.profile.brand %> </h6>
      </div>

      <div class="offers item">
        <%if @tour.user_id != current_user.id%>

        <%elsif @tour.user_id == current_user.id%>
          <p> <%=@offers.count%> <br> Offers</p>
        <%end%>
      </div>
      <div class="show-make-offer item">
        <button type="button" name="button" href="#offer-form">make Offer</button>
      </div>

      <div class="show-headline item">
        <%= @tour.description %>
      </div>

      <div class="show-price item">
        <h5>
        $ <%= @tour.min_cost %> to $ <%= @tour.max_cost %></h5>
      </div>
      <div class="bio item">
        <%= @tour.bio %>
      </div>

      <!-- ===================calendar======================== -->
            <div class="cal item">
              <div class="cal-title">
                <%if @tour.start_date.strftime("%B")==@tour.end_date.strftime("%B")%>
                  <%= @tour.start_date.strftime("%B") %> <%= @tour.start_date.strftime("%Y") %>
                <%else%>
                  <%= @tour.start_date.strftime("%B") %>  to   <%= @tour.end_date.strftime("%B") %> <%= @tour.end_date.strftime("%Y") %>
                <%end%>
              </div>
              <div class="heading">Sun</div><div class="heading">Mon</div><div class="heading">Tue</div><div class="heading">Wed</div><div class="heading">Thu</div><div class="heading">Fri</div><div class="heading">Sat</div>
              <%cal =  @cal.new(@tour.start_date, @tour.end_date)%>
              <%cal.createCalendar%>
              <%@list = []%>
                <%temp = Booking.where(tour_id: @tour.id)%>
                <%temp.each{|i|%>
                  <%@list << i.date%>
                  <%}%>
              <%cal.bookDays(@list)%>
              <%# puts "#{cal.cal}".green%>
              <%=cal.displayCalendar.html_safe%>

            </div>
      <!-- ===================calendar======================== -->

      <p>
        <strong>genres:</strong>
        <% @tour.genres.each do |genre| %>
        <%= genre.name%>
        <%end%>
      </p>
    </div>

    <div class="order-render" id="offer-form">
      <%if @tour.user_id != current_user.id%>
      <h2> Submit an offer </h2>
      <div class="offer-form">
        <%= render 'offer_form', tour_id: @tour.id, offer: @offer %>
      </div>
      <%elsif @tour.user_id == current_user.id%>
      <p>Book Out date</p>
      <%=render "booking",tour_id: @tour.id, offer: @offer %>
      <%= link_to 'Edit Bookings', bookings_path %>
      <%= link_to 'Edit Tour', edit_tour_path(@tour) %>
      <%end%>
    </div>
  </div><!-- the-tour -->


<%= link_to 'Back', tours_path %>
