<p id="notice"><%= notice %></p>
<br>

<h1>Your recieved these Offers </h1>
<br>
<%puts "#{@offers.count}".green%>
<%if @offers.count != 0 %>
  <% @offers[0].each do |offer| %>
  <div class="offers">
    <div class="item offer-title">
      <%= offer.tour.title %>
    </div>
    <div class="item offer-brand">
      <p> <%=offer.user.profile.brand%></p>
    </div>
    <div class="item offer-name">
      <%= offer.user.first_name %> <%= offer.user.last_name %>
    </div>
    <div class="item offer-rating">
      <h6><%= rating_for offer.user, 'rating' %></h6>
    </div>
    <div class="item offer-logo">
      <%= image_tag offer.user.profile.image_url, class:"offer-logo-img"%>
    </div>
    <div class="item offer-price right-fade" style="font-weight:bolder">
      <span style="color:yellow">
      $<%= offer.price %>
      </span>
    </div>
    <div class="item offer-number">
      <%=offer.user.profile.phone_number%>
    </div>
    <div class="item offer-location right-fade">
      <%= offer.location %>
    </div>
    <div class="item offer-email" style="font-size:0.6em;">
      <%= offer.user.email %>
    </div>
    <div class="item offer-date right-fade">
      <%= offer.date %>
    </div>

    <!--start calendar  -->
  <div class="item offer-cal" style="display:block">


    <div class="cal">
      <%@tour = Tour.find_by_id(offer.tour_id)%>
      <%@tour.start_date%>
        <div class="cal-title">
          <%if @tour.start_date.strftime("%B")==@tour.end_date.strftime("%B")%>
            <%= @tour.start_date.strftime("%B") %> <%= @tour.start_date.strftime("%Y") %>
          <%else%>
            <%= @tour.start_date.strftime("%B") %>  to   <%= @tour.end_date.strftime("%B") %> <%= @tour.end_date.strftime("%Y") %>
          <%end%>
        </div>
        <div class="heading">Sun</div><div class="heading">Mon</div><div class="heading">Tue</div><div class="heading">Wed</div><div class="heading">Thu</div><div class="heading">Fri</div><div class="heading">Sat</div>
        <%cal =  @cal.new(@tour.start_date, @tour.end_date)%>
        <%cal.createCalendar%>
        <%@list = []%>
          <%temp = Booking.where(tour_id: @tour.id)%>
          <%temp.each{|i|%>
            <%@list << i.date%>
            <%}%>
        <%cal.bookDays(@list)%>
        <%# puts "#{cal.cal}".green%>
        <%=cal.displayCalendar.html_safe%>
    </div>
  </div>
  <!--end calendar  -->

    <div class="item offer-info right-fade">
      <p>Highest offer <span style="color:yellow">
      <%if @max == offer.price%>
        THIS
      <%else%>
        $<%= @max %>
      <%end%>
        </span>
        <br>
      Lowest offer <span style="color:blue">
      <%if @min== offer.price%>
        THIS
      <%else%>
        $<%= @max %>
      <%end%>
      </span>
        <!-- <br> $<%#= offer.tour.min_cost%> to $<%#= offer.tour.max_cost%> -->
      <br><span style="color:red">
      <%=@offers.count%></span> day booked
      <br>
      days remaining <span style="color:green">
      <%=((offer.tour.end_date.to_date - offer.tour.start_date.to_date).to_i)+1 - @offers.count%></span></p>
    </div>
    <div class="item offer-message">
  message
    </div>
    <div class="item offer-alert right-fade">
  alert
    </div>

  </div>
  <div class="">
    <%= link_to 'Show', offer %>
    <%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <%end%>
<%end%>

<h1>You have made these Offers</h1>
<%#if @madeOffers.count != 0 %>
  <% #@madeOffers[0].each do |offer| %>

  <tbody>
    <%@madeOffers.each do |offer| %>
      <%= render "youroffers",  offer: offer %>
    <% end %>
