<p id="notice"><%= notice %></p>
<br>

<h1>Your recieved these Offers </h1>
<br>
<div class="offers">
  <div class="item offer-title">
    title
  </div>
  <div class="item offer-brand">
    <p>Brand</p>
  </div>
  <div class="item offer-name">
    <p>User</p>
  </div>
  <div class="item offer-rating">
rating
  </div>
  <div class="item offer-logo">
    image
    <%#= image_tag "", class:"offer-logo-img"%>
  </div>
  <div class="item offer-price">
price
  </div>
  <div class="item offer-number">
number
  </div>
  <div class="item offer-location">
location
  </div>
  <div class="item offer-email">
email
  </div>
  <div class="item offer-date">
date
  </div>
  <div class="item offer-cal">
cal
  </div>
  <div class="item offer-info">
info
  </div>
  <div class="item offer-message">
message
  </div>
  <div class="item offer-alert">
alert
  </div>

</div>

<table class="offers-table">
  <thead>
    <tr>
      <th></th>
      <th>Email</th>
      <th>User</th>
      <th></th>
      <th>Number</th>s
      <th>Date</th>
      <th>Offer</th>
      <th>Asking</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @offers[0].each do |offer| %>
        <tr>
          <%puts "#{offer.inspect}".blue %>
          <td><%= offer.tour.title %></td>
          <td> <h6><%= offer.user.email %></h6></td>
          <td><%= offer.user.first_name %> <%= offer.user.last_name %></td>
          <td style="min-width:120px;"><%=offer.user.profile.brand%> <br>
            <h5> <%= rating_for offer.user, 'rating' %> </h5>
          </td>
          <td><%=offer.user.profile.phone_number%></td>
          <td><%= offer.date %></td>
          <td>$<%= offer.price %></td>
          <td>$<%= offer.tour.min_cost%> to $<%= offer.tour.max_cost%></td>
          <td><%= offer.location %></td>
          <td><%= link_to 'Show', offer %></td>
          <td>
            <%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<h1>You have made these Offers</h1>
<br>

<table class="offers-table">
  <thead>

      <th>Tour</th>
      <th>Email</th>
      <th>Brand</th>
      <th>Date</th>
      <th>Offer</th>
      <th>Asking</th>
      <th>Location</th>
      <th colspan="3"></th>

  </thead>

  <tbody>
    <%@madeOffers.each do |offer| %>
      <tr>
        <td><%= offer.tour.title %></td>
        <td> <h6><%= offer.user.email %></h6></td>
        <td><%=offer.user.profile.brand%></td>
        <td><%= offer.date %></td>
        <td>$<%= offer.price %></td>
        <td>$<%= offer.tour.min_cost%> to $<%= offer.tour.max_cost%></td>
        <td><%= offer.location %></td>
        <td><%= link_to 'Show', offer %></td>
        <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
        <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Offer', new_offer_path %>
