<nav class="navigation">
    <div class="dropdown">
    <%= image_tag "Hamburger_icon.png", class: "hamburger"%>
    <div class="dropdown-content">
      <% if user_signed_in? %>
        <%= button_to('Logout', destroy_user_session_path, method: :delete , form_class: "login_out") %>
        <%unless params[:controller] == "profiles" && params[:action] == "new" || current_user.profile == nil%>
          <%= button_to('My Profile',profile_path(current_user.profile.id),method: :get ,form_class: "login_out")%>
        <%end%>
          <p><%=link_to 'Password', edit_user_registration_path, class: "login_out"%></p>
          <p><%=link_to 'Plans', charges_path, class: "login_out"%></p>
          <p><%=link_to 'Offers', offers_path, class: "login_out"%></p>

      <% else %>
        <div class="login-content">
        <%= button_to('Login', new_user_session_path, form_class: "login_out")%>
        </div>
      <% end %>
      </div>
    </div>

    <%=link_to root_path, class: "logo" do %>
      <%=image_tag "almost-anyone.png", class: "logo"%>
    <%end%>



    <div class="right">
      <% if user_signed_in? %>
          <%= button_to('Logout', destroy_user_session_path, method: :delete , form_class: "login_out") %>

          <h6 class="person">   <% if current_user.profile != nil %>
               <%=current_user.profile.brand[0..16]%>
            <% end %></h6>

      <% else %>
          <div>
          <%= button_to('Login', new_user_session_path, form_class: "login")  %>
          </div>
      <% end %>
    </div>
  </nav>
