<!DOCTYPE html>
<html>
  <head>
    <title>AlmostAnyone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navigation">

<%puts "#{}".green%>
    <div class="dropdown">
    <%= image_tag "Hamburger_icon.png", class: "hamburger"%>
      <div class="drop"><p>
        <% if @current_user != nil %>
           <%=@current_user.email.split("@")[0][0..16]%>
        <% end %>
       </p>
      </div>

      <% if user_signed_in? %>

        <div class="dropdown-content">
        <%= button_to('Logout', destroy_user_session_path, method: :delete , form_class: "login_out") %>
        <%unless params[:controller] == "profiles" && params[:action] == "new"%>
        <%puts "#{params[:controller]}      #{params[:action]}".green%>
          <%= button_to('My Profile',profile_path(current_user.profile.id),method: :get ,form_class: "login_out")%>
        <%end%>
        <%=link_to 'Password', edit_user_registration_path, class: "login_out"%>
        <%=link_to 'Plans', charges_path, class: "login_out"%>
        </div>
      <% else %>
        <div class="dropdown-content">
        <%= button_to('Login', new_user_session_path, form_class: "login_out")%>
        </div>
      <% end %>
    </div>





    <!-- <div class="">
      <h3>MENU</h3>
      <%=link_to 'Password', edit_user_registration_path, class: "login_out"%>
    </div> -->
    <%=link_to root_path, class: "logo" do %>
      <%=image_tag "almost-anyone.png", class: "logo"%>
    <%end%>
    <div class="">
      <% if user_signed_in? %>
          <%= button_to('Logout', destroy_user_session_path, method: :delete , form_class: "login_out") %>
          <%=current_user.email%>

      <% else %>
          <div>
          <%= button_to('Login', new_user_session_path, form_class: "login")  %>
          </div>
      <% end %>
    </div>

  </nav>

  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>



  </body>
</html>
